{% extends 'aircox/cms/list.html' %}

{% load staticfiles %}
{% load i18n %}

{% block header %}
<style>
.player-box {
    padding-top: 0.2em;
}

    .player-box * {
        vertical-align: middle;
    }

    .player-box h3, #player h2 {
        display: inline-block;
        font-size: 0.9em;
        margin: 0;
        padding: 0;
    }

    .player-button {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        overflow: hidden;
        cursor: pointer;
        margin-right: 0.4em;
        text-align: center;
    }


    .player-button:after {
        content: '▶';
    }

        #player[state="playing"] .player-button:after {
            content: '▮▮';
        }

        #player[state="stalled"] .player-button:after {
            content: '...';
        }

#player .on_air {
    padding: 0.2em;
}

    #player .on_air .title {
        font-size: 0.8em;
        display: inline;
    }

    #player .on_air a {
        float: right;
    }

    #player .info {
        float: right;
    }


#player progress {
    background: none;
    border: none;
    width: 100%;
    height: 0.8em;
    cursor: pointer;
    display: none;
}

    #player[seekable]:hover progress {
        display: block;
    }


#player .playlists {
}

    #player .playlists ul:not([selected]) {
        display: none;
    }

    #player .playlists nav > a.close,
    #player .playlists nav > label {
        float: right;
    }

    #player-single-mode + label[for="player-single-mode"]::after {
        content:"{% trans "single mode" %}";
    }


#player .playlist {
    margin: 0;
    padding: 0;
    height: 15em;
    /*overflow-y: auto;*/
}

    #player .playlist .item > *:not(.actions) {
        display: inline;
        margin: 0.2em;
        vertical-align: middle;
    }

#player .playlist .actions {
    float: right;
}

    #player .playlist .actions a.action {
        display: inline;
    }

    #player .playlist .actions label,
    #playlist-live .actions,
    #playlist-recents .actions a.action[action="remove"],
    #playlist-favorites .actions a.action[action="sound.mark"],
    .playlist .actions a.action[action="sound.play"],
    .playlist .actions a.url:not([href]),
    .playlist .actions a.url[href=""] {
        display: none;
    }

    #player .playlist .action[action="remove"] {
        float: right;
    }
</style>
<div id="player">
    <li class='item' style="display: none;">
        <h2 class="title"></h2>
        <div class="info"></div>
        <div class="actions">
            <a class="action" action="sound.mark"
               title="{% trans "add to my favorites" %}">★</a>
            <a class="url action" title="{% trans "more informations" %}">➔</a>
            <a class="action" action="sound.remove"
               title="{% trans "remove from the playlist" %}">✖</a>
        </div>
    </li>
    <div class="player-box">
        <div id="embed-player">
        </div>
        <div id="simple-player">
            <audio preload="metadata">
                Your browser does not support the <code>audio</code> element.
            </audio>

            <span class="player-button" onclick="Player.play()"
              title="{% trans "play/pause" %}"></span>

            <h3 class="title"></h3>

            <div class="progress info"></div>
        </div>
        <progress value="0" max="1"></progress>
    </div>
    <div class="playlists">
        <nav>
          <input type="checkbox" class="single" id="player-single-mode">
          <label for="player-single-mode"></label>
        </nav>
    </div>
    <div class='item on_air'>
        <h2 class="title"></h2>
        <a class="url">➔</a>
    </div>
</div>

<script>
PlayerStore = {
    // save data to localstorage, or remove it if data is null
    set: function(name, data) {
        name = 'player.' + name;
        if(data == undefined) {
            localStorage.removeItem(name);
            return;
        }
        localStorage.setItem(name, JSON.stringify(data))
    },

    // load data from localstorage
    get: function(name) {
        try {
            name = 'player.' + name;
            var data = localStorage.getItem(name);
            if(data)
                return JSON.parse(data);
        }
        catch(e) { console.log(e, data); }
    },

    // return true if the given item is stored
    exists: function(name) {
        name = 'player.' + name;
        return (localStorage.getItem(name) != null);
    },

    // update a field in the stored data
    update: function(name, key, value) {
        data = this.get(name) || {};
        if(value)
            data[key] = value;
        else
            delete data[key];
        this.set(name, data);
    },
}


// Create a Playlist:
// * name: name of the playlist, used for container id and storage
// * tab: text to put in the tab
// * items: list of items to append
// * store: store the playlist in localStorage
function Playlist(name, tab, items, store = false) {
    this.name = name;
    this.store = store;

    this.playlist = document.createElement('ul');
    this.playlist.setAttribute('id', 'playlist-' + name );
    this.playlist.className = 'playlist list';

    var self = this;
    this.tab = document.createElement('a');
    this.tab.addEventListener('click', function(event) {
        Player.select_playlist(self);
        event.preventDefault();
    }, true);
    this.tab.className = 'tab';
    this.tab.innerHTML = tab;

    Player.playlists.appendChild(this.playlist);
    Player.playlists.querySelector('nav').appendChild(this.tab);

    this.items = [];
    if(store)
      this.load()
    if(items)
        this.add_list(items);
}

Playlist.prototype = {
    items: undefined,

    /// find an item in playlist
    find: function(item, by_stream = false) {
        if(by_stream)
            return this.items.find(function(v) {
                return v.stream == item;
            });

        return this.items.find(function(v) {
            return v.stream == item.stream;
        });
    },

    /// add sound actions to a given element
    add_actions: function(item, container) {
        Actions.add_action(container, 'sound.mark', item);
        Actions.add_action(container, 'sound.play', item, item.stream);

        var elm = container.querySelector('.actions a[action="sound.mark"]');
        elm.addEventListener('click', function(event) {
            Player.favorites.add(item);
        }, true);

        var elm = container.querySelector('.actions a[action="sound.remove"]');
        elm.addEventListener('click', function() {
            item.playlist.remove(item);
        }, true);
    },

    /// add an item to the playlist or container, if not in this.playlist.
    /// return the existing item or the newly created item.
    add: function(item, container) {
        var item_ = this.find(item);
        if(item_)
            return item_;

        var elm = Player.player.querySelector('.item').cloneNode(true);
        elm.removeAttribute('style');

        if(!container)
            container = this.playlist;
        if(container.childNodes.length)
            container.insertBefore(elm, container.childNodes[0]);
        else
            container.appendChild(elm);

        item = {
            title: item.title,
            url: item.url,
            stream: item.stream,
            info: item.info,
            seekable: 'seekable' in item ? item.seekable : true,

            elm: elm,
            playlist: this,
        }

        elm.item      = item;
        elm.querySelector('.title').innerHTML = item.title || '';
        elm.querySelector('.url').href = item.url || '';
        elm.querySelector('.info').innerHTML = item.info || '';

        if(item.class)
          elm.className += " " + item.class;

        elm.addEventListener('click', function(event) {
            if(event.currentTarget.tagName == 'A' ||
               event.target.tagName == 'A')
                return;

            var item = event.currentTarget.item;
            if(item.stream || item.embed)
                Player.select(item);
            event.stopPropagation();
            return true;
        }, false);

        if(item.embed || item.stream)
            this.add_actions(item, elm);
        this.items.push(item);

        if(container == this.playlist && this.store)
          this.save()
        return item;
    },

    /// Add a list of items (optimized)
    add_list: function (items) {
        var container = document.createDocumentFragment();
        for(var i = 0; i < items.length; i++)
            this.add(items[i], container);
        this.playlist.appendChild(container);

        if(this.store)
          this.save()
    },

    /// remove an item from the playlist
    remove: function(item) {
        for(var i = 0; i < this.items.length; i++) {
            var item_ = this.items[i];
            if(item_.stream != item.stream)
                continue;
            item_.elm.parentNode.removeChild(item_.elm);
            this.items.splice(i,1);
            break;
        }

        if(this.store)
          this.save()
    },

    /// Save a playlist to local storage
    save: function() {
        var pl = [];
        for(var i = 0; i < this.items.length; i++) {
            var item = Object.assign({}, this.items[i])
            delete item.elm;
            delete item.playlist;
            pl.push(item);
        }
        PlayerStore.set('playlist.' + this.name, pl)
    },

    /// Load playlist from local storage
    load: function() {
      var pl = PlayerStore.get('playlist.' + this.name);
      if(pl)
        this.add_list(pl);
    },

    /// called by Player when the given item is unselected
    unselect: function(item) {
        this.tab.removeAttribute('active');
        if(item.elm)
          item.elm.removeAttribute('selected');

        var audio = Player.audio;
        if(this.store && !audio.ended) {
            item.currentTime = audio.currentTime;
            this.save();
        }
    },

    /// called by Player when the given item is selected, in order to
    /// prepare it.
    select: function(item) {
        this.tab.setAttribute('active', 'true');
        if(item.elm)
            item.elm.setAttribute('selected', 'true');
    },
}


function PlayerProgress(player) {
    this.player = player;
    this.progress = player.player.querySelector('progress');
    this.info = player.player.querySelector('.progress.info');

    var self = this;

    // events
    player.audio.addEventListener('timeupdate', function(evt) {
        self.update();
    }, false);

    this.progress.addEventListener('click', function(evt) {
        player.audio.currentTime = self.time_from_event(evt);
    }, false);

    this.progress.addEventListener('mouseout', function(evt) {
        self.update();
    }, false);

    this.progress.addEventListener('mousemove', function(evt) {
        if(self.player.audio.duration == Infinity)
           return;

        var pos = self.time_from_event(evt);
        self.info.innerHTML = self.secs_to_str(pos);
    }, false);
}

PlayerProgress.prototype = {
    update: function() {
        if( //!this.player.item.seekable ||
                this.player.audio.duration == Infinity) {
            this.info.innerHTML = '';
            this.progress.value = 0;
            return;
        }

        var pos = this.player.audio.currentTime;
        this.progress.value = pos;
        this.progress.max = this.player.audio.duration;
        this.info.innerHTML = this.secs_to_str(pos);
    },

    secs_to_str: function(seconds) {
        seconds = Math.floor(seconds);
        var hours = Math.floor(seconds / 3600);
        seconds -= hours;
        var minutes = Math.floor(seconds / 60);
        seconds -= minutes;

        var str = hours ? (hours < 10 ? '0' + hours : hours) + ':' : '';
        str += (minutes < 10 ? '0' + minutes : minutes) + ':';
        str += (seconds < 10 ? '0' + seconds : seconds);
        return str;
    },

    time_from_event: function(evt) {
        bounding = this.progress.getBoundingClientRect()
        offset = (evt.clientX - bounding.left);
        return offset * this.player.audio.duration / bounding.width;
    },
}


Player = {
    /// main container of the Player
    player: undefined,
    /// <audio> container
    audio: undefined,
    /// controls
    controls: undefined,

    /// init Player
    init: function(id) {
        this.player = document.getElementById(id);
        this.audio = this.player.querySelector('audio');
        this.controls = {
            single: this.player.querySelector('input.single'),
        }

        // TODO: event on controls -> save info in storage

        this.__init_audio();
        this.__init_playlists();
        this.progress = new PlayerProgress(this);
        this.load();
    },

    __init_audio: function() {
        var self = this;
        this.audio.addEventListener('playing', function() {
            self.player.setAttribute('state', 'playing');
        }, false);

        this.audio.addEventListener('pause', function() {
            self.player.setAttribute('state', 'paused');
        }, false);

        this.audio.addEventListener('loadstart', function() {
            self.player.setAttribute('state', 'stalled');
        }, false);

        this.audio.addEventListener('loadeddata', function() {
            self.player.removeAttribute('state');
        }, false);

        this.audio.addEventListener('timeupdate', function() {
            if(!self.item.seekable)
                return;

            PlayerStore.set('stream.' + self.item.stream + '.pos',
                            self.audio.currentTime);
        }, false);

        this.audio.addEventListener('ended', function() {
            PlayerStore.set('streams.' + self.item.stream + '.pos')

            single = self.player.querySelector('input.single');
            if(!single.checked)
                self.next(true);
        }, false);
    },

    __init_playlists: function() {
        this.playlists = this.player.querySelector('.playlists');
        this.live = new Playlist(
            'live',
            " {% trans "live" %}",
            [ {% for sound in live_streams %}
                { title: "{{ sound.title }}",
                  url: "{{ sound.url }}",
                  stream: "{{ sound.url }}",
                  info: "{{ sound.info }}",
                  seekable: false,
                }, {% endfor %} ]
        );
        this.recents = new Playlist(
            'recents', '{% trans "recents" %}',
            [ {% for sound in recents %}
                { title: "{{ sound.title }}",
                  url: "{{ sound.url }}",
                  {% if sound.related.embed %}
                  embed: "{{ sound.related.embed }}",
                  {% else %}
                  stream: "{{ sound.related.url|safe }}",
                  {% endif %}
                  info: "{{ sound.related.duration|date:"H:i:s" }}",
                }, {% endfor %} ]
        );
        this.favorites = new Playlist(
            'favorites', '★ {% trans "favorites" %}', null, true
        );
        this.playlist = new Playlist(
            'playlist', '☰ {% trans "playlist" %}', null, true
        );

        this.select(this.live.items[0], false);
        this.select_playlist(this.recents);
        this.update_on_air();
    },

    load: function() {
        var data = PlayerStore.get('Player');
        if(!data)
            return;

        if(data.playlist)
            this.select_playlist(this[data.selected_playlist]);
        if(data.stream) {
            item = this.playlist.find(data.stream, true);
            item && this.select(item, false);
        }
        this.controls.single.checked = data.single
    },

    save: function() {
        PlayerStore.set('player', {
            'selected_playlist': this.__playlist && this.__playlist.name,
            'stream':   this.item && this.item.stream,
            'single':   this.controls.single.checked,
        });
    },

    /** Player actions **/
    /// play a given item { title, src }
    play: function() {
        var audio = this.audio;
        if(audio.paused)
            audio.play();
        else
            audio.pause();
    },

    __ask_to_seek(item) {
        if(!item.seekable)
            return;

        var key = 'stream.' + item.stream + '.pos'
        var pos = PlayerStore.get(key);
        if(!pos)
            return
        if(confirm("{% trans "restart from the last position?" %}"))
            this.audio.currentTime = Math.max(pos - 5, 0);
        PlayerStore.set(key);
    },

    /// select the current track to play, and start playing it
    select: function(item, play = true) {
        var audio = this.audio;
        var player = this.player;

        if(this.item && this.item.playlist)
            this.item.playlist.unselect(this.item);

        audio.pause();
        audio.src = item.stream;
        audio.load();

        this.item = item;
        if(this.item && this.item.playlist)
            this.item.playlist.select(this.item);

        player.querySelectorAll('#simple-player .title')[0]
            .innerHTML = item.title;

        if(this.item.seekable)
            player.setAttribute('seekable', true);
        else
            player.removeAttribute('seekable', true);

        if(play) {
            this.__ask_to_seek(item);
            this.play();
        }
        this.save();
    },

    /// Select the next track in the current playlist, eventually play it
    next: function(play = true) {
        var playlist = this.__playlist;
        if(playlist == this.live)
            return

        var index = this.__playlist.items.indexOf(this.item);
        if(index == -1)
            return;

        index--;
        if(index >= 0)
            this.select(this.__playlist.items[index], play);
    },

    /// remove selection using the given selector.
    __unselect: function (selector) {
        v = this.player.querySelectorAll(selector);
        if(v)
            for(var i = 0; i < v.length; i++)
                v[i].removeAttribute('selected');
    },

    /// select current playlist to show
    select_playlist: function(playlist) {
        this.__unselect('.playlists nav .tab[selected]');
        this.__unselect('.playlists .playlist[selected]');

        this.__playlist = playlist;
        if(playlist) {
            playlist.playlist.setAttribute('selected', 'true');
            playlist.tab.setAttribute('selected', 'true');
        }
    },

    /** utility & actions **/
    /// update on air informations
    update_on_air: function() {
       rq = Request('{% url exp.name key="on_air" %}').get()
          .select({
            title: '.title',
            url: ['.url', 'href'],
          })
         .map(this.player.querySelector('.on_air'))
         .send();

      window.setTimeout(function() {
        Player.update_on_air();
      }, 60000*5);
    },
}

Player.init('player');

</script>
{% endblock %}

