{% extends 'aircox/cms/list.html' %}

{% block header %}
<header>
<script>
sched_fields = [ {% for field in list.fields %}"fields={{ field }}",{% endfor %} ];
sched_fields = sched_fields.join('&');
</script>
<a href="{{ prev_week }}" onclick="return Section.load_event(event, sched_fields);">&lt;</a>
{% for curr, url in dates %}
<a href="{{ url }}" {% if curr == date %}class="selected" {% endif %}
    onclick="return Section.load_event(event);">
    {{ curr|date:'D. d' }}
</a>
{% endfor %}
<a href="{{ next_week }}" onclick="return Section.load_event(event, sched_fields);">&gt;</a>
</header>
{% endblock %}

