{% extends "aircox/cms/website.html" %}

{% load aircox_cms %}

{% block header %}
<header>
    {% if object.thread %}
    <div class="threads">
        {{ object|threads:' > '|safe }}
    </div>
    {% endif %}

    <time datetime="{{ object.date }}">
        {{ object.date|date:'l d F Y' }},
        {{ object.date|time:'H\hi' }}
    </time>

    {% if object.tags.all %}
    {# TODO: url to the tags #}
    <div class="tags">
        {{ object.tags.all|join:', ' }}
    </div>
    {% endif %}
</header>
{% endblock %}

{% block content %}
{{ content|safe }}
{% endblock %}

