{% extends base_template %}

{% load i18n %}
{% load thumbnail %}


{% block content %}
<ul>
{% for item in object_list %}
    <li {% if item.css_class %}class="{{ item.css_class }}"{% endif %}
        {% for k, v in item.attrs.items %}
        {{ k }} = "{{ v|addslashes }}"
        {% endfor %} >
    {% if item.detail_url %}
        <a href="{{ item.detail_url }}">
    {% endif %}

    {% if 'date' in list.fields or 'time' in list.fields or 'author' in list.fields %}
    <div class="meta">
        {% if item.date and 'date' in list.fields or 'time' in list.fields %}
        <time datetime="{{ item.date }}">
            {% if 'date' in list.fields %}
            <span class="date">
                {{ item.date|date:'D. d F' }}
            </span>
            {% endif %}
            {% if 'time' in list.fields %}
            <span class="time">
                {{ item.date|date:'H:i' }}
            </span>
            {% endif %}
        </time>
        {% endif %}
        {% if item.author and 'author' in list.fields %}
        <span class="author">
            {{ item.author }}
        </span>
        {% endif %}
    </div>
    {% endif %}

    {% if 'image' in list.fields and item.image %}
    <img src="{% thumbnail item.image list.image_size crop %}">
    {% endif %}

    {% if 'title' in list.fields %}
    <h2 class="title">{{ item.title }}</h2>
    {% endif %}

    {% if 'content' in list.fields %}
    <div class="content">
        {% if list.truncate %}
        {{ item.content|striptags|truncatewords:list.truncate }}
        {% else %}
        {{ item.content|striptags }}
        {% endif %}
    </div>
    {% endif %}

    {% if item.detail_url %}
    </a>
    {% endif %}
{% empty %}
<div class="message empty">
{{ list.message_empty }}
</div>
{% endfor %}
</ul>

{% if page_obj or list.url %}
<nav>
    {% if not page_obj or embed %}
        <a href="{{list.url}}" title={% trans "More elements" %}>&#8690;</a>
    {% else %}
        {# FIXME: page numbers #}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    {% endif %}
</nav>
{% endif %}
{% endblock %}

