{% extends "aircox/cms/section.html" %}

{% load i18n %}
{% load honeypot %}

{% block section_content %}
{{ form.non_field_errors }}
<form action="" method="POST" class="comment_form">
{% csrf_token %}
{% render_honeypot_field "hp_website" %}
<div>
    {{ form.author.errors }}
    {{ form.author }}
    <input type="checkbox" value="1">
    <div class="extra">
        {{ form.email.errors }}
        {{ form.email }}
        {{ form.url.errors }}
        {{ form.url }}
    </div>
</div>
<div>
    {{ form.content.errors }}
    {{ form.content }}
    <button type="submit">{% trans "Post!" %}</button>
</div>
</form>
<div class="comment_list">
    {% for item in object_list %}
    <div id="comment-{{ item.id }}" class="comment_item">
        {{ item.content }}

        <div class="metadata">
            <a href="{% if item.url %}{{ item.url }}{% else
                %}#{% endif %}" class="author">
            {{ item.author }}
            </a>

            <time datetime="{{ item.date }}">
                {{ item.date|date:'l d F Y' }},
                {{ item.date|time:'H\hi' }}
            </time>

            <a href="#comment-{{ item.id }}">#{{ item.id }}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


