{% extends "aircox_cms/base_section.html" %}

{% block content %}
{% if title %}
<h1>
    {% block section_title %}
    {{ title }}
    {% endblock %}
</h1>
{% endif %}

{% if header %}
<header class="section_header">
    {% block section_header %}
    {{ header }}
    {% endblock %}
</header>
{% endif %}

<div class="section_content">
    {% block section_content %}
    {{ content|safe }}
    {% endblock %}
</div>

{% if footer %}
<footer class="section_footer">
    {% block section_footer %}
    {{ footer }}
    {% endblock %}
</footer>
{% endif %}

{% endblock %}
