{% if not embed %}
{% load staticfiles %}

<html>
    <head>
        {# FIXME: extra head block #}
        <meta charset="utf-8">
        <meta name="application-name" content="aircox-cms">
        <meta name="description" content="{{ website.description }}">
        <meta name="keywords" content="{{ website.tags }}">

        <link rel="stylesheet" href="{% static "aircox/cms/styles.css" %}" type="text/css">
        {% if website.styles %}
        <link rel="stylesheet" href="{% static website.styles %}" type="text/css">
        {% endif %}
        <script src="{% static "aircox/cms/scripts.js" %}"></script>
        <title>{% if title %}{{ title }} - {% endif %}{{ website.name }}</title>
    </head>
    <body>
        {% block page_header %}
            {% if menus.header %}
            {{ menus.header|safe }}
            {% endif %}
        {% endblock %}

        <div class="page-container">
            {% if menus.top %}
                {{ menus.top|safe }}
            {% endif %}

            <div class="page">
                {% if menus.left %}
                    {{ menus.left|safe }}
                {% endif %}

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

{% endif %}
{% if tag %}
            <{{ tag }} {% if css_class %} class="{{ css_class }}" {% endif %}
             {% for k, v in attrs.items %}{{ k }} = "{{ v|addslashes }}"
             {% endfor %}>
{% endif %}
                    {% block title %}
                    {% if title %}
                        <h1>{{ title }}</h1>
                    {% endif %}
                    {% endblock %}

                    {% block header %}
                    {% if header %}
                        <header>
                        {{ header|safe }}
                        </header>
                    {% endif %}
                    {% endblock %}

                    {% block content %}
                    {{ content|safe }}
                    {% endblock %}

                    {% block footer %}
                    {% if footer %}
                    <footer>
                        {{ footer|safe }}
                    </footer>
                    {% endif %}
                    {% endblock %}
{% if tag %}
            </{{ tag }}>
{% endif %}
{% if not embed %}
                {% if menus.right %}
                    {{ menus.right|safe }}
                {% endif %}
            </div>

            {% if menus.page_bottom %}
                {{ menus.page_bottom|safe }}
            {% endif %}
        </div>

        {% block page_footer %}
            {% if menus.footer %}
            {{ menus.footer|safe }}
            {% endif %}
        {% endblock %}

        {% if menus.bottom %}
            {{ menus.bottom|safe }}
        {% endif %}
    </body>
</html>
{% endif %}

