{% load i18n %}

{# FIXME: get current complete URL #}
<div class="list date_list">
{% if nav_dates %}
<nav class="nav_dates">
    {% if nav_dates.prev %}
    <a href="?date={{ nav_dates.prev|date:"Y-m-d" }}" title="{% trans "previous days" %}">◀</a>
    {% endif %}

    {% for day in nav_dates.dates %}
    <a onclick="select_tab(this, '.panel[data-date=\'{{day|date:"Y-m-d"}}\']');"
        {% if day == nav_dates.date %}selected{% endif %}
        class="tab {% if day == nav_dates.date %}today{% endif %}">
        {{ day|date:'D. d' }}
    </a>
    {% endfor %}

    {% if nav_dates.next %}
    <a href="?date={{ nav_dates.next|date:"Y-m-d" }}" title="{% trans "next days" %}">▶</a>
    {% endif %}
</nav>
{% endif %}

{% for day, list in object_list %}
<ul class="panel {% if day == nav_dates.date %}class="today"{% endif %}"
    {% if day == nav_dates.date %}selected{% endif %}
    data-date="{{day|date:"Y-m-d"}}">
    {# you might like to hide it by default -- this more for sections #}
    <h2>{{ day|date:'l d F' }}</h2>
    {% with item_date_format="H:i" %}
    {% for item in list %}
    {% include "aircox_cms/snippets/date_list_item.html" %}
    {% endfor %}
    {% endwith %}
</ul>
{% endfor %}
</div>

