{% extends "aircox/page_detail.html" %}
{% comment %}Detail page for regular articles{% endcomment %}
{% load i18n %}

{% block sidebar %}
{{ block.super }}

{% if sidebar_object_list %}
<section>
    {% comment %}Translators: in page detail sidebar{% endcomment %}
    <h4 class="title is-4">{% trans "Latest news" %}</h4>

    {% for object in sidebar_object_list %}
    {% include "aircox/widgets/page_item.html" %}
    {% endfor %}

    <br>
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                <a href="{% url "article-list" %}" class="pagination-link"
                    aria-label="{% trans "Show all news" %}">
                    {% trans "More news" %}
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endif %}
{% endblock %}

