{% extends "aircox/page.html" %}
{% load i18n %}

{% block side_nav %}
{{ block.super }}

{% if side_items %}
<section>
    <h4 class="title is-4">{% trans "Latest news" %}</h4>

    {% for object in side_items %}
    {% include "aircox/page_item.html" %}
    {% endfor %}

    <br>
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                <a href="{% url "article-list" %}" class="pagination-link"
                    aria-label="{% trans "Show all news" %}">
                    {% trans "More news" %}
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endif %}
{% endblock %}

