{% extends "aircox/page.html" %}
{% load i18n aircox %}

{% block title %}
{% with station.name as station %}
{% blocktrans %}This week's shows... {% endblocktrans %}
{% endwith %}
{% endblock %}

{% block subtitle %}
<div class="column">
{% blocktrans %}From <b>{{ start }}</b> to <b>{{ end }}</b>{% endblocktrans %}
</div>
{% endblock %}

{% block main %}{{ block.super }}
{% with True as hide_schedule %}
<section>
    {% unique_id "timetable" as timetable_id %}
    <a-tabs default="{{ date }}">
        <template v-slot:tabs="scope" noscript="hidden">
            <li><a href="{% url "timetable" date=prev_date %}">&#10092; {% trans "Before" %}</a></li>

            {% for day in by_date.keys %}
            <a-tab value="{{ day }}">
                <a href="{% url "timetable" date=day %}">
                    {{ day|date:"D. d" }}
                </a>
            </a-tab>
            {% endfor %}

            <li>
                <a href="{% url "timetable" date=next_date %}">{% trans "After" %} &#10093;</a>
            </li>
        </template>

        <template v-slot:default="{value}">
            {% for day, diffusions in by_date.items %}
            <noscript><h4 class="subtitle is-4">{{ day|date:"l d F Y" }}</h4></noscript>
            <div id="{{timetable_id}}-{{ day|date:"Y-m-d" }}" v-if="value == '{{ day }}'">
                {% for diffusion in diffusions %}
                <div class="columns">
                    <div class="column is-one-fifth has-text-right">
                        <time datetime="{{ diffusion.start|date:"c" }}">
                        {{ diffusion.start|date:"H:i" }} - {{ diffusion.end|date:"H:i" }}
                        </time>
                    </div>
                    <div class="column">
                        {% with diffusion.episode as object %}
                        {% include "aircox/episode_item.html" %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </template>
    </a-tabs>
</section>
{% endwith %}
{% endblock %}

