{% extends "aircox/page_list.html" %}
{% comment %}List of logs for a specific date{% endcomment %}
{% load i18n humanize aircox %}

{% block title %}
{% if not page or not page.title %}
{% with station.name as station %}
{% blocktrans %}That happened on {{ station }}{% endblocktrans %}
{% endwith %}
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block subtitle %}{{ date|date:"l d F Y" }}{% endblock %}

{% block before_list %}
{% with "log-list" as url_name %}
{% include "aircox/widgets/dates_menu.html" %}
{% endwith %}
{% endblock %}

{% block pages_list %}
<section>
    {# <h4 class="subtitle size-4">{{ date }}</h4> #}
    {% include "aircox/widgets/log_list.html" %}
</section>
{% endblock %}

