{% extends "aircox/page.html" %}
{% load i18n aircox %}

{% block title %}
{% trans "Logs" %}
{% endblock %}


{% block main %}
{{ block.super }}

<section class="section">
    {% if dates %}
    <nav class="tabs is-centered" aria-label="{% trans "Other days' logs" %}">
        <ul>
        {% for day in dates %}
            <li {% if day == date %}class="is-active"{% endif %}>
                <a href="{% url "logs" date=day %}">
                    {{ day|date:"d b" }}
                </a>
            </li>

        {% if forloop.last and day > min_date %}
            <li>...</li>
        {% endif %}
        {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {# <h4 class="subtitle size-4">{{ date }}</h4> #}
    {% with True as hide_schedule %}
    <table class="table is-striped is-hoverable is-fullwidth">
        {% for object in object_list reversed %}
        <tr>
            <td>
                {% if object|is_diffusion %}
                <time datetime="{{ object.start }}" title="{{ object.start }}">
                    {{ object.start|date:"H:i" }} - {{ object.end|date:"H:i" }}
                </time>
                {% else %}
                <time datetime="{{ object.date }}" title="{{ object.date }}">
                    {{ object.date|date:"H:i" }}
                </time>
                {% endif %}
            </td>
            <td>{% include "aircox/log_item.html" %}</td>
        </tr>
        {% endfor %}
    </table>
    {% endwith %}
</section>
{% endblock %}

