{% extends "aircox/basepage_list.html" %}
{% comment %}Display a list of Pages{% endcomment %}
{% load i18n aircox %}

{% block filters %}
{# FIXME #}
{% if filter_categories %}
<form method="GET" action="" class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item">
            {% block list_filters %}
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">{% trans "Categories" %}</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            {% for category in filter_categories %}
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox" name="categories"
                                       value="{{ category.slug }}"
                                       {% if category.slug in categories %}checked{% endif %} />
                                {{ category.title }}
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-primary"/>{% trans "Apply" %}</button>
                </div>
                <div class="control">
                    <a href="?" class="button is-secondary">{% trans "Reset" %}</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}


