{% extends "aircox/base.html" %}
{% load static i18n thumbnail %}
{% comment %}
Context:
- cover: cover image
- title: title
- page: page
{% endcomment %}

{% block subtitle %}
{{ block.super }}
{% if page.category %}
<span class="column has-text-right">{{ page.category.title }}</span>
{% endif %}
{% endblock %}

{% block head_title %}
    {% block title %}{{ title }}{% endblock %}
    {% if title %} &dash; {% endif %}
    {{ station.name }}
{% endblock %}


{% block main %}
{% block content %}
{{ page.content|default_if_none:''|safe }}
{% endblock %}
{% endblock %}



