{% extends "aircox/program_base.html" %}
{% comment %}Detail page of a show{% endcomment %}
{% load i18n %}

{% block header %}
{{ block.super }}
{% include "aircox/program_header.html" %}
{% endblock %}


{% block content %}{{ block.super }}

<br>
{% with has_headline=False %}
<div class="columns is-desktop">
    {% if articles %}
    <section class="column">
        <h4 class="title is-4">{% trans "Articles" %}</h4>

        {% for object in articles %}
        {% include "aircox/widgets/page_item.html" %}
        {% endfor %}

        <br>
        <nav class="pagination is-centered">
            <ul class="pagination-list">
                <li>
                    <a href="{% url "article-list" parent_slug=program.slug %}"
                        class="pagination-link"
                        aria-label="{% trans "Show all program's articles" %}">
                        {% trans "More articles" %}
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    {% endif %}
</div>
{% endwith %}

{% endblock %}


