{% extends "aircox/page_detail.html" %}
{% comment %}Detail page of a show{% endcomment %}
{% load i18n %}

{% include "aircox/program_sidebar.html" %}


{% block header_nav %}
{% endblock %}


{% block content %}
{{ block.super }}
<br>
{% with has_headline=False %}
<div class="columns is-desktop">
    <section class="column">
        <h5 class="title is-5">{% trans "Diffusions" %}</h5>
        {% for schedule in program.schedule_set.all %}
        {{ schedule.get_frequency_verbose }}
        {% with schedule.start|date:"H:i" as start %}
        {% with schedule.end|date:"H:i" as end %}
        <time datetime="{{ start }}">{{ start }}</time>
        &mdash;
        <time datetime="{{ end }}">{{ end }}</time>
        {% endwith %}
        {% endwith %}
        <small>
            {% if schedule.initial %}
            {% with schedule.initial.date as date %}
            <span title="{% blocktrans %}Rerun of {{ date }}{% endblocktrans %}">
                ({% trans "Rerun" %})
            </span>
            {% endwith %}
            {% endif %}
        </small>
        <br>
        {% endfor %}
    </section>

    {% if articles %}
    <section class="column">
        <h4 class="title is-5">{% trans "Articles" %}</h4>

        {% for object in articles %}
        {% include "aircox/widgets/page_item.html" %}
        {% endfor %}

        <br>
        <nav class="pagination is-centered">
            <ul class="pagination-list">
                <li>
                    <a href="{% url "article-list" parent_slug=program.slug %}"
                        class="pagination-link"
                        aria-label="{% trans "Show all program's articles" %}">
                        {% trans "More articles" %}
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    {% endif %}
</div>
{% endwith %}

{% endblock %}


