{% extends "aircox/page_detail.html" %}
{% load i18n %}

{% block side_nav %}
{{ block.super }}

{% if side_items %}
<section>
    <h4 class="title is-4">{% trans "Last shows" %}</h4>

    {% for object in side_items %}
    {% include "aircox/episode_item.html" %}
    {% endfor %}

    <br>
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                <a href="{% url "diffusion-list" parent_slug=program.slug %}"
                    class="pagination-link"
                    aria-label="{% trans "Show all program's diffusions" %}">
                    {% trans "More shows" %}
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endif %}
{% endblock %}

