{% extends "aircox/page.html" %}
{% load i18n %}

{% block side_nav %}
{{ block.super }}

{% if episodes %}
<section>
    <h4 class="subtitle is-size-4">{% trans "Last shows" %}</h4>

    {% for object in episodes %}
    {% include "aircox/episode_item.html" %}
    {% endfor %}

    <br>
    <nav class="pagination is-centered">
        <ul class="pagination-list">
            <li>
                <a href="{% url "diffusion-list" program_slug=program.slug %}"
                    class="pagination-link"
                    aria-label="{% trans "Show all diffusions" %}">
                    {% trans "All shows" %}
                </a>
            </li>
        </ul>
</section>
{% endif %}
{% endblock %}

