/** main layout **/
body {
    padding: 0;
    margin: 0;
}


.page {
    display: flex;
}

    .page .menu {
        width: 20em;
    }

    .page .menu_left { margin-right: 0.5em; }
    .page .menu_right { margin-left: 0.5em; }

    .page main {
        flex-grow: 1;
    }


.section {
    vertical-align: top;
}


/** detail and list content **/
main .section {
/*    width: calc(50% - 2em);
    display: inline-block; */
    padding: 0.5em;
}

    main .section .section_content {
        font-size: 0.95em;
    }

    main .section h1 {
        font-size: 1.2em;
    }

    main .section * {
        max-width: 100%;
    }


.post_item {
    display: block;
}


/** comments **/
.comment-form label {
    display: none;
}

.comment-form input:not([type=checkbox]),
.comment-form textarea {
    display: inline-block;
    width: calc(100% - 5em);
    max-height: 6em;
    margin: 0.2em 0em;
}

.comment-form input[type=checkbox],
.comment-form button[type=submit] {
    max-width: 4em;
    vertical-align:bottom;
    margin: 0.2em 0em;
    text-align: center;
}

.comment-form .extra {
    display: none;
}

.comment-form input[type="checkbox"]:checked + .extra {
    display: block;
}





