gunicorn>=19.6.0
Django>=2.2.0
wagtail>=2.4
watchdog>=0.8.3
psutil>=5.0.1
pyyaml>=3.12
dateutils>=0.6.6
bleach>=1.4.3
django-auth-ldap>=1.7.0
django-honeypot>=0.5.0
django-jet>=1.0.3
mutagen>=1.37
tzlocal>=1.4

