
body {
    background-color: #F2F2F2;
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
}


h1, h2, h3 {
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif
}

time {
    font-size: 0.9em;
    color: #616161;
}

a {
    text-decoration: none;
    color: #616161;
}

a:hover {
    color: #818181;
}


nav.menu {
    padding: 0.5em;
}

    nav.menu_top {
        background-color: #212121;
        color: #007EDF;
        font-size: 1.1em;
        box-shadow: 0em 0.2em 0.5em 0.1em black
    }


    header.menu {
        padding: 0.2em;
        height: 9em;
    }

        header.menu img {
            height: 100%;
            float: left;
        }

        #colony img {
            height: auto;
            position: fixed;
            top: 1em;
            right: 0;
            z-index: -1;
        }

.page {
    width: 100%;
    padding: 1.5em 0em;
    background-color: rgba(255, 255, 255, 0.8);
}

    .page img {
        box-shadow: 0em 0em 0.2em 0.01em black;
        border-radius: 0.2em;
    }


.post_list {
    background-color: #F2F2F2;
    box-shadow: inset 0.2em 0.2em 0.2em 0.01em black;
}

    .post_list .post_item {
        min-height: 64px;
        padding: 0.2em;
    }

    .post_list .post_item:hover {
    }

    .post_list h3 {
        margin: 0.2em;
    }

    .post_list time {
        float: right;
    }

    .post_list img {
        float: left;
        margin-right: 0.5em;
    }


