
body {
    background-color: #F2F2F2;
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
    margin: 0 3em;
}


h1, h2, h3 {
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif
}

time {
    font-size: 0.9em;
    color: #818181;
}

a {
    text-decoration: none;
    color: #616161;
}

a:hover {
    color: #818181;
}


/** Menu **/
.menu {
    padding: 0.5em;
}

    .menu_top {
        background-color: #212121;
        color: #007EDF;
        font-size: 1.1em;
    }


    header.menu {
        padding: 0.2em;
        height: 9em;
    }

        header.menu img {
            height: 100%;
            float: left;
        }

        #colony img {
            height: auto;
            position: fixed;
            top: 1em;
            right: 0;
            z-index: -1;
        }

    .menu h1 {
        font-size: 1.1em;
    }


    .menu .post_list {
        font-size: 0.9em;
    }

        .menu .post_list h3 {
            font-size: 1.0em;
            display: inline;
        }

        .menu .post_list time {
            margin: 0.2em;
        }


/** Page **/
.page-container {
    box-shadow: 0em 0.2em 0.5em 0.1em black;
    margin-bottom: 2em;
}

.page {
    width: 100%;
    padding: 1.5em 0em;
    background-color: rgba(255, 255, 255, 0.8);
}

    .page img {
        box-shadow: 0em 0em 0.2em 0.01em black;
        border-radius: 0.2em;
    }


main .post_list {
    background-color: #F2F2F2;
    border: 1px #818181 dotted;
}

    main .post_list .post_item {
        min-height: 64px;
        padding: 0.2em;
    }

    main .post_list .post_item:hover {
    }

    main .post_list h3 {
        margin: 0.2em;
    }

    main .post_list time {
        float: right;
    }

    main .post_list img {
        float: left;
        margin-right: 0.5em;
    }


