
.navbar .navbar-brand {
    padding-right: 1em;
}

.navbar .navbar-brand img {
    margin: 0em 0.4em;
    margin-top: 0.3em;
    max-height: 3em;
}

.breadcrumbs {
    margin-bottom: 1em;
}

.results > #result_list {
    width: 100%;
    margin: 1em 0em;
}


ul.menu-list li {
    list-style-type: none;
}


