@charset "utf-8";
@import "~bulma/sass/utilities/_all.sass";

$body-background-color: $light;

@import "~bulma/bulma";

.navbar {
    margin-bottom: 1em;
}

.navbar.has-shadow {
    box-shadow: 0em 0.1em 0.5em rgba(0,0,0,0.1);
}

.navbar-brand img {
    min-height: 6em;
}

.navbar-menu .navbar-item:not(:last-child) {
    border-right: 1px $grey solid;
}


