{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "aircox/main.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "aircox/admin.css" %}">

<script src="{% static "aircox/vendor.js" %}"></script>
<script src="{% static "aircox/admin.js" %}"></script>

{% block extrastyle %}{% endblock %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}

{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div>
    {% if not is_popup %}
    <!-- Header -->
    <nav class="navbar is-dark has-shadow">
        <div class="navbar-brand">
        {% block branding %}{% endblock %}
        </div>
        <div class="navbar-menu">
            {% block usertools %}
            <div class="navbar-start">
                <a class="navbar-item" href="{% url "admin:aircox_program_changelist" %}">{% trans "Programs" %}</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{% url "admin:aircox_article_changelist" %}">{% trans "Articles" %}</a>
                    <div class="navbar-dropdown is-boxed is-right">
                        {% for program in programs %}
                        <a class="navbar-item" href="{% url "admin:aircox_article_changelist" %}?parent={{ program.pk }}">
                            {{ program.title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{% url "admin:aircox_episode_changelist" %}">{% trans "Episodes" %}</a>
                    <div class="navbar-dropdown is-boxed is-right">
                        {% for program in programs %}
                        <a class="navbar-item" href="{% url "admin:aircox_episode_changelist" %}?parent={{ program.pk }}">
                            {{ program.title }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="#" class="navbar-link">{% trans "Tools" %}</a>
                    <div class="navbar-dropdown is-boxed is-right">
                        <a href="{% url 'admin:tools-stats' %}" class="navbar-item">{% trans "Statistics" %}</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="{% url "admin:auth_user_change" user.pk %}" class="navbar-link">
                        {% firstof user.get_short_name user.get_username %}
                    </a>
                    <div class="navbar-dropdown is-boxed is-right">
                        {% block userlinks %}
                            {% if site_url %}
                            <a href="{{ site_url }}" class="navbar-item">{% trans 'View site' %}</a>
                            {% endif %}
                            {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}" class="navbar-item">{% trans 'Documentation' %}</a>
                            {% endif %}
                            {% endif %}
                            {% if user.has_usable_password %}
                            <a href="{% url 'admin:password_change' %}" class="navbar-item">{% trans 'Change password' %}</a>
                            {% endif %}
                            <hr class="navbar-divider" />
                            <a href="{% url 'admin:logout' %}" class="navbar-item">{% trans 'Log out' %}</a>
                        {% endblock %}

                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        {% block nav-global %}{% endblock %}
    </nav>
    <!-- END Header -->

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1 class="subtitle is-3">{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
