{% extends 'aircox_cms/sections/section_item.html' %}


{% block content %}
<div id="player" class="player">
    {% include "aircox_cms/snippets/player.html" %}
</div>

<script>
var player = new Player('player', '{% url 'aircox.on_air' %}', true);
var sound = player.playlist.add(
    new Sound(
        '{{ self.live_title }}',
        '', undefined,
        streams=[ {% for stream in streams %}'{{ stream }}',{% endfor %} ],
        cover = undefined,
        on_air = true
    )
);
sound.item.className += ' live';
player.playlist.select(sound, false);
player.update_on_air();
</script>
{% endblock %}

