{% load i18n %}

<div id='stats'>
    {% for stats in statistics %}
    <section class="station">
        <header>
            <h1>{{ stats.station.name }}</h1>
            <h2>- {{ stats.date|date:'l d F Y' }}</h2>
        </header>

        <table border=1>
            <tr>
                <th>{% trans "Date" %}</th>
                {# Translators "Header for statistics view" #}
                <th>{% trans "Diffusion or sound played" %}
                <th></th>
            </tr>

            {% for item in stats.items %}
                <tr class="log">
                    <td>{{ item.date|date:"H:i" }}</td>
                    {# TODO: logs #}
                    {% if 'program' in item %}
                    <td>{{ item.program.name }}</td>
                    {% else %}
                    <td>{{ item.comment }}</td>
                    {% endif %}
                    <td>{% for tag,count in item.tags %}
                        {{ tag }}: {{ count }};
                        {% endfor %}</td>
                </tr>

                {% for track in item.tracks %}
                <tr class="track">
                    <td></td>
                    <td>{{ track.artist }} -- <emph>{{ track.title }}</emph> {{ track.version }}</td>
                    <td>{{ track.tags.all|join:', ' }}</td>
                </tr>
                {% endfor %}
            {% endfor %}

            <tr>
                <td>{{ stats.date|date:'d/m/Y' }}</td>
                {# TODO: translation block #}
                <td>{% trans "Total and average" %} ({{ stats.tracks_count }} tracks)</td>
                <td>{% for tag, count, average in stats.tags %}
                    {{ tag }}: <b>{{ count }} / {{ average|floatformat }}%</b>;
                {% endfor %}
                </td>
            </tr>
        </table>
    </section>
    {% endfor %}
</div>






