{% load staticfiles %}

<html>
    <head>
        {# FIXME: page tags #}
        <meta charset="utf-8">
        <meta name="application-name" content="aircox-cms">
        <meta name="description" content="{{ website.description }}">
        <meta name="keywords" content="{{ website.tags }}">

        <link rel="stylesheet" href="{% static "aircox_aircox_cms/styles.css" %}" type="text/css">
        <title>{{ website.name }} {% if title %}- {{ title }} {% endif %}</title>
    </head>
    <body>
        {% if menus.top %}
            {{ menus.top|safe }}
        {% endif %}

        {% block header %}
            {% if menus.header %}
            <header>
                {{ menus.header|safe }}
            </header>
            {% endif %}
        {% endblock %}

        <div class="page">
            {% if menus.left %}
                {{ menus.left|safe }}
            {% endif %}

            <main>
                {% block pre_title %}
                {% endblock %}
                <h1>
                    {% block title %}
                    {{ title }}
                    {% endblock %}
                </h1>
                {% block post_title %}
                {% endblock %}
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            {% if menus.right %}
                {{ menus.right|safe }}
            {% endif %}
        </div>

        {% block footer %}
            {% if menus.footer %}
            <footer>
                {{ menus.footer|safe }}
            </footer>
            {% endif %}
        {% endblock %}

        {% if menus.bottom %}
            {{ menus.bottom|safe }}
        {% endif %}
    </body>
</html>

