{% load staticfiles %}
{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}

{% load aircox_cms %}

{% get_settings %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="aircox-cms">
        <meta name="description" content="{{ settings.aircox_cms.WebsiteSettings.description }}">
        <meta name="keywords" content="{{ page.tags.all|default:settings.aircox_cms.WebsiteSettings.tags }}">

        {% with favicon=settings.cms.WebsiteSettings.favicon %}
            <link rel="icon" href="{{ favicon.url }}" />
        {% endwith %}
        {% block css %}
            <link rel="stylesheet" href="{% static 'aircox_cms/css/layout.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'aircox_cms/css/theme.css' %}" type="text/css" />

            {% block css_extras %}{% endblock %}
        {% endblock %}

        <script src="{% static 'aircox_cms/js/bootstrap.js' %}"></script>
        <script src="{% static 'aircox_cms/js/utils.js' %}"></script>
        <script src="{% static 'aircox_cms/js/player.js' %}"></script>

        <title>{{ page.title }}</title>
    </head>
    {% spaceless %}
    <body>
        <nav class="top">
            <div class="menu row">
                {% render_sections position="top" %}
            <div>
        </nav>

        <header class="header menu row">
            <div>
            {% render_sections position="header" %}
            </div>
        </header>

        <div class="page flex_row">
            <nav class="menu col page_left flex_item">
                {% render_sections position="page_left" %}
            </nav>

            <main class="{% if not object_list %}detail{% endif %}">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            <header>
            {% block title %}
                {% if page.cover %}
                <div class="background">
                {% image page.cover max-600x480 class="background-cover" height="" width="" %}
                </div>
                {% image page.cover max-600x480 class="cover" height="" width="" %}
                <div class="foreground">
                {% endif %}
                    <h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>

                    {% if page.headline %}
                    <section class="headline">
                    {{ page.headline }}
                    </section>
                    {% endif %}
                {% if page.cover %}
                </div>
                {% endif %}
            {% endblock %}
            </header>

            <div class="content">
                {% block content %}
                {% if page.body %}
                <section class="body">
                {{ page.body|richtext}}
                </section>
                {% endif %}
                {% endblock %}

                {% if view != 'list' %}
                    {% block content_extras %}
                    {% endblock %}
                {% endif %}

                <div class="post_content">
                {% render_sections position="post_content" %}
                </div>

                <section class="comments">
                {% include "aircox_cms/snippets/comments.html" %}
                </section>
            </div>

            </main>

            <nav class="menu col page_right flex_item">
                {% render_sections position="page_right" %}
            </nav>
        </div>

        {% block footer %}
        <footer class="menu footer">
            {% render_sections position="footer" %}
            <div class="small float_right">Propulsed by
                <a href="https://github.com/bkfox/aircox">Aircox</a>
            </div>
        </footer>
        {% endblock %}
    </body>
    {% endspaceless %}
</html>
