{% extends "aircox_cms/publication.html" %}
{# generic page to display programs #}

{% load i18n %}
{% load wagtailcore_tags %}

{# TODO message if program is no more active #}

{% block content_extras %}
<section class="schedule">
{% if page.program.active and page.program.schedule_set.count %}
    <h2>{% trans "Schedule" %}</h2>
    <ul>
        {% for schedule in page.program.schedule_set.all %}
        {% with frequency=schedule.get_frequency_display day=schedule.date|date:'l' %}

        {% with start_hour=schedule.time.hour start_minute=schedule.time.minute %}
        {% with duration_hour=schedule.duration.hour duration_minute=schedule.duration.minute %}
        <li aria-label="{% blocktrans trimmed %}Diffusion on {{ day }} at {{ start_hour }} hours {{ start_minute }}, on the {{ frequency }}, and last for {{ duration_hour }} hours and {{ duration_minute }} minutes {% endblocktrans %}">
        {% endwith %}
        {% endwith %}

        {% with start=schedule.time|date:"H:i" duration=schedule.duration|time:"H\"i" %}
            {% blocktrans trimmed %}
            {{ day }} at {{ start }} ({{ duration }}),  <span class="info">{{ frequency }}</span>
            {% endblocktrans %}
            {% if schedule.initial %}
            <span class="info">{% trans "Rerun" %}</span>
            {% endif %}
        {% endwith %}

        </li>
        {% endwith %}
        {% endfor %}
    </ul>
{% else %}
    <div class="warning">{% trans "This program is no longer active" %}</div>
{% endif %}
</section>
{% endblock %}

