{% extends "aircox_cms/base_site.html" %}
{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load aircox_cms %}


{% block content %}
<div class="content">
    {% if page.body %}
    <section class="body">
    {{ page.body|richtext}}
    </section>
    {% endif %}

    {% if object_list %}
    {# list view #}
        {% with list_paginator=paginator %}
        {% include "aircox_cms/snippets/list.html" %}
        {% endwith %}
    {% else %}
    {# detail view #}
        {% if page.links.count %}
        {% include "aircox_cms/sections/section_link_list.html" %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}


