.nav-submenu h2 {
  display: none;
}

.nav-submenu .menu-item .info {
  margin-right: 1em;
}

.nav-submenu .menu-item a {
  white-space: normal;
  padding: 0.9em 1em 0.9em 1em;
}

.nav-submenu .menu-item a:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

.nav-submenu li {
  border: 0;
}


