/*
 * Define a default theme, that is the one for RadioCampus
 *
 * Colors:
 * - light:
 *   - background: #F2F2F2
 *   - color: #000
 *
 * - dark:
 *   - background: #212121
 *   - color: #007EDF
 *
 * - info:
 *   - generic (time,url,...): #616161
 *   - additional: #007EDF
 *   - active: #007EDF
 */

/** main **/
body {
    background-color: #F2F2F2;
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
    padding: 0em;
}


h1, h2, h3 {
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
}

h1:first-letter, h2:first-letter, h3:first-letter {
    text-transform: capitalize;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 0.9em; }


h2 * { vertical-align: middle; }



/** info **/
time, .tags {
    font-size: 0.9em;
    color: #616161;
}

.info {
    font-size: 0.9em;
    padding: 0.1em;
    color: #007EDF;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: #616161;
}

a:hover {
    color: #007EDF;
}

a:hover > .small_icon {
    box-shadow: 0em 0em 0.1em #007EDF;
}


.error { color: red; }
.warning { color: orange; }
.success { color: green; }


/** page **/
.page > nav {
    width: 20em;
    overflow: hidden;
}

main {
    background-color: rgba(255,255,255,0.9);
    margin: 0em 0em;
    box-shadow: 0em 0em 0.2em black;
    width: 60%;
}

    main > .content {
        /*! margin: 1em; */
    }


    main:not(.detail) h1 {
        margin: 0em 0em 0.4em 0em;
    }

main .post_content {
    display: block;
}

main .post_content section {
    display: inline-block;
    width: calc(50% - 1em);
    vertical-align: top;
}


/** detail view **/
main.detail {
    padding: 0em;
    margin: 0em;
}

    main > .content {
        padding: 1em;
    }

    main > header {
        margin: 0em;
        padding: 1em;
        position: relative;
    }

    main > header .foreground {
        position: absolute;
        left: 0em;
        top: 0em;
        width: calc(100% - 2em);
        padding: 1em;
    }

    main > header h1 {
        width: calc(100% - 2em);
        margin: 0em;
        margin-bottom: 0.8em;
    }

    main header .headline {
        display: inline-block;
        width: calc(60% - 0.8em);
        min-height: 1.2em;
        font-size: 1.2em;
        font-weight: bold;
    }

    main > header .background {
        margin: -1em;
        height: 17em;
        overflow: hidden;
        position: relative;
    }

    main > header .background img {
        position: absolute;
        /*! top: -40%; */
        /*! left: -40%; */
        width: 100%;
        min-height: 100%;
        filter: blur(20px);
        opacity: 0.3;
    }

    main > header .cover {
        right: 0em;
        top: 1em;
        width: auto;
        max-height: calc(100% - 2em);
        max-width: calc(40% - 2em);
        margin: 1em;
        position: absolute;
        box-shadow: 0em 0em 4em rgba(0, 0, 0, 0.4);
    }


/** player **/
.player[state='playing'] .item[selected] .button > img {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: blink;
}


@keyframes blink {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.3;
    }

    to {
        opacity: 1.0;
    }
}


.player[state="loading"] .item[selected] .button > img.loading {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/** section: playlist **/
.playlist .title {
    font-style: italic;
    color: #616161;
}

