body {
    padding: 0;
    margin: 0;
}


.page {
    display: flex;
}

    .page .menu {
        width: 15em;
    }

    .page .menu_left { margin-right: 0.5em; }
    .page .menu_right { margin-left: 0.5em; }

    .page main {
        flex-grow: 1;
    }


main .section {
    width: calc(50% - 1em);
    float: left;
    padding: 0.5em;
}

    main .section .section_content {
        font-size: 0.95em;
    }

    main .section h1 {
        font-size: 1.2em;
    }

    main .section * {
        max-width: 100%;
    }


