/*
input, textarea, select, .richtext, .tagit {
    padding: 0.4em;
    font-size: 1em;
}

label {
    padding-top: 0em;
}

.fields > li, .field-col {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.full input, .full textarea, .full .richtext {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.title input, .title textarea, .title .richtext {
    font-size: 1.2em;
}
*/
