/*
 * Define a default theme, that is the one for RadioCampus
 *
 * Colors:
 * - light:
 *   - background: #F2F2F2
 *   - color: #000
 *
 * - dark:
 *   - background: #212121
 *   - color: #007EDF
 *
 * - info:
 *   - generic (time,url,...): #616161
 *   - additional: #007EDF
 *   - active: #007EDF
 */

/** main **/
body {
    background-color: #F2F2F2;
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
    margin: 0em;
    padding: 0em;
}


h1, h2, h3 {
    font-family: "Myriad Pro",Calibri,Helvetica,Arial,sans-serif;
}

h1:first-letter, h2:first-letter, h3:first-letter {
    text-transform: capitalize;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }


/** info **/
time {
    font-size: 0.9em;
    color: #616161;
}

.info {
    font-size: 0.9em;
    color: #007EDF;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #616161;
}

a:hover {
    color: #007EDF;
}


.error { color: red; }
.warning { color: orange; }
.success { color: green; }


/** page **/
.page > nav {
    width: 20em;
    overflow: hidden;
}


