{% load static i18n thumbnail %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="aircox">
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ site.tags }}">
        <link rel="icon" href="{% thumbnail site.favicon 32x32 crop %}" />

        {% block assets %}
        <link rel="stylesheet" type="text/css" href="{% static "aircox_web/assets/main.css" %}"/>
        <!-- <link rel="stylesheet" type="text/css" href="{% static "aircox_web/assets/vendor.css" %}"/> -->

        <script src="{% static "aircox_web/assets/main.js" %}"></script>
        <script src="{% static "aircox_web/assets/vendor.js" %}"></script>
        {% endblock %}

        <title>{% block title %}{{ site.title }}{% endblock %}</title>

        {% block extra_head %}{% endblock %}
    </head>
    <body id="app">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" title="{% trans "Home" %}" class="navbar-item">
                    <img src="{{ site.logo.url }}" class="logo"/>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    {{ site_regions.topnav }}
                </div>
            </div>
        </nav>

        <div class="columns">
            <aside class="column">
                {{ site_regions.sidenav }}
            </aside>
            <main class="column is-three-quarters">
                {% block main %}
                <h1>{{ page.title }}</h1>
                {{ regions.main }}
                {% endblock main %}
            </main>
        </div>
    </body>
</html>


