{% load i18n easy_thumbnails_tags aircox_web %}
{% comment %}
Context variables:
- object: the actual diffusion
- page: current parent page in which item is rendered
- hide_schedule: if True, do not display start time
- hide_headline: if True, do not display headline
{% endcomment %}

{% with object.initial|default:object as initial %}
{% with initial.program as program %}
{% with initial.page as d_page %}
{% with program.page as p_page %}
{% with d_page|default:p_page as c_page %}
<article class="media">
    <div class="media-left">
        <img src="{% thumbnail c_page.cover|default:site.logo 128x128 crop=scale %}"
            class="small-cover">
    </div>
    <div class="media-content">
        <div>
            <h5 class="subtitle is-size-5 is-inline-block">
                {% if d_page %}
                <a href="{{ d_page.path }}">{{ d_page.title }}</a>
                {% endif %}

                {% if not page or p_page != page %}
                {% if d_page %} &mdash; {% endif %}
                {% if p_page %}
                <a href="{{ p_page.path }}" class="has-text-grey-dark">
                    {{ p_page.title }}</a>
                {% else %}
                {{ program.name }}
                {% endif %}
                {% endif %}
            </h5>

            {% if not hide_schedule %}
            <time datetime="{{ object.start|date:"c" }}" title="{{ object.start }}"
                  class="has-text-weight-light is-size-6">
                  &mdash; {{ object.start|date:"d M, H:i" }}
            </time>
            {% endif %}

            {% if object.initial %}
            {% with object.initial.date as date %}
            <span class="tag is-info" title="{% blocktrans %}Rerun of {{ date }}{% endblocktrans %}">
                {% trans "rerun" %}
            </span>
            {% endwith %}
            {% endif %}
            </span>
        </div>
        {% if not hide_headline %}
        <div class="content">
          {{ c_page.headline }}
        </div>
        {% endif %}
    </div>
</article>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

