{% load static i18n thumbnail %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="aircox">
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ site.tags }}">
        <link rel="icon" href="{% thumbnail site.favicon 32x32 crop %}" />

        {% block assets %}
        <link rel="stylesheet" type="text/css" href="{% static "aircox_web/assets/main.css" %}"/>
        <script src="{% static "aircox_web/assets/main.js" %}"></script>
        <script src="{% static "aircox_web/assets/vendor.js" %}"></script>
        {% endblock %}

        <title>{% block title %}{% if title %}{{ title }} -- {% endif %}{{ site.title }}{% endblock %}</title>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="app">
            <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="/" title="{% trans "Home" %}" class="navbar-item">
                            <img src="{{ site.logo.url }}" class="logo"/>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            {{ site_regions.topnav }}
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="columns">
                    <aside class="column is-one-quarter">
                        {% block left-sidebar %}
                        {{ site_regions.sidenav }}
                        {% endblock %}
                    </aside>
                    <main class="column page">
                        <header class="header">
                            {% block header %}
                            <h1 class="title is-1">{{ title }}</h1>
                            {% endblock %}
                        </header>

                        {% block main %}{% endblock main %}
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>


