{% extends "aircox_web/base.html" %}
{% load static i18n thumbnail %}
{% comment %}
Context:
- cover: cover image
- title: title
- page: page
{% endcomment %}

{% block head_title %}
    {% block title %}{{ title }}{% endblock %}
    {% if title %} &mdash; {% endif %}
    {{ site.title }}
{% endblock %}


{% block main %}
{% block headline %}
{% if page and page.headline %}
<p class="headline">{{ page.headline }}</p>
{% endif %}
{% endblock %}

{% block content %}
{{ regions.content }}
{% endblock %}
{% endblock %}


{% block side_nav %}
{% if cover is not None %}
<img class="cover" src="{{ cover.url }}" class="cover"/>
{% endif %}
{% endblock %}


