{% load i18n %}
<section class="is-size-5">
    {% for schedule in program.schedule_set.all %}
    <p>
        {{ schedule.get_frequency_verbose }}
        {% with schedule.start|date:"H:i" as start %}
        {% with schedule.end|date:"H:i" as end %}
        <time datetime="{{ start }}">{{ start }}</time>
        &mdash;
        <time datetime="{{ end }}">{{ end }}</time>
        {% endwith %}
        {% endwith %}
        <small>
            {% if schedule.initial %}
            {% with schedule.initial.date as date %}
            <span title="{% blocktrans %}Rerun of {{ date }}{% endblocktrans %}">
                ({% trans "rerun" %})
            </span>
            {% endwith %}
            {% endif %}
        </small>
    </p>
    {% endfor %}
</section>

