{% extends "aircox_web/page.html" %}
{% load i18n aircox_web %}

{% block title %}
{% trans "Timetable" %}
{% endblock %}

{% block main %}
{{ block.super }}

<section class="section">
    <h3 class="subtitle size-3">
        {% blocktrans %}From <b>{{ start }}</b> to <b>{{ end }}</b>{% endblocktrans %}
    </h3>

    {% unique_id "timetable" as timetable_id %}
    <a-tabs default="{{ date }}">
        <template v-slot:tabs="scope" noscript="hidden">
            <li><a href="{% url "timetable" date=prev_date %}">&lt;</a></li>

            {% for day in by_date.keys %}
            <a-tab value="{{ day }}">
                <a href="{% url "timetable" date=day %}">
                    {{ day|date:"D. d" }}
                </a>
            </a-tab>
            {% endfor %}

            <li>
                <a href="{% url "timetable" date=next_date %}">&gt;</a>
            </li>
        </template>

        {% with True as hide_schedule %}
        <template v-slot:default="{value}">
            {% for day, diffusions in by_date.items %}
            <noscript><h4 class="subtitle is-4">{{ day|date:"l d F Y" }}</h4></noscript>
            <div id="{{timetable_id}}-{{ day|date:"Y-m-d" }}" v-if="value == '{{ day }}'">
                {% for object in diffusions %}
                <div class="columns">
                    <div class="column is-one-fifth has-text-right">
                        <time datetime="{{ object.start|date:"c" }}">
                            {{ object.start|date:"H:i" }} - {{ object.end|date:"H:i" }}
                        </time>
                    </div>
                    <div class="column">
                        {% include "aircox_web/diffusion_item.html" %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </template>
        {% endwith %}
    </a-tabs>
</section>
{% endblock %}

