{% load i18n aircox %}
{% comment %}
List item for a log, either for a logged track or diffusion (as diffusion).

Context objects:
- object: object to render
- hide_schedule: if true, hide the schedule

In case of modification, you might want to check on `assets/vue/player.vue`
for design review.

{% endcomment %}

{% if object|is_diffusion %}
    {% with object as diffusion %}
    {% include "aircox/widgets/diffusion_item.html" %}
    {% endwith %}
{% else %}
    {% with object.track as object %}
    {% include "aircox/widgets/track_item.html" %}
    {% endwith %}
{% endif %}

