{% extends "cms/publication.html" %}
{% load i18n %}

{% block content_extras %}
{% with tracks=page.tracks.all %}
{% if tracks %}
<section class="playlist">
    <h2>{% trans "Playlist" %}</h2>
    <ul>
        {% for track in tracks %}
        <li><span class="artist">{{ track.artist }}</span>
            <span class="title">{{ track.title }}</span>
            {% if track.info %} <span class="info">{{ track.info }}</span>{% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endwith %}

<section class="dates">
    <h2>{% trans "Dates of diffusion" %}</h2>
    <ul>
        {% with diffusion=page.diffusion %}
        <li>{{ diffusion.date|date:"l d F Y, H:i" }}</li>
        {% for diffusion in diffusion.diffusion_set.all %}
        <li>{{ diffusion.date|date:"l d F Y, H:i" }}</li>
        {% endfor %}
        {% endwith %}
    </ul>
</section>

{% with podcasts=self.get_podcasts %}
{% if podcasts %}
<section class="podcasts list">
    <h2>{% trans "Podcasts" %}</h2>
    {% for item in podcasts %}
    {% include 'cms/snippets/sound_list_item.html' %}
    {% endfor %}
</section>
{% endif %}
{% endwith %}

{# TODO: podcasts #}
{% endblock %}




