{% extends "cms/publication.html" %}
{% load i18n %}

{% block content %}
<div>
    <h2>{% trans "Practical information" %}</h2>
    <ul>
        {% with start=page.start|date:'l d F H:i' %}
        {% with end=page.end|date:'l d F H:i' %}
        <li><b>{% trans "Date" %}</b>:
            {% transblock %}{{ start }} until {{ end }}{% endtransblock %}
        </li>
        <li><b>{% trans "Place" %}</b>: {{ page.address }}</li>
        {% if page.price %}
        <li><b>{% trans "Price" %}</b>: {{ page.price }}</li>
        {% endif %}
        {% if page.info %}<li>{{ page.info }}</li>{% endif %}
        {% endwith %}
        {% endwith %}
    </ul>
{% endblock %}



