{% extends "cms/base_site.html" %}
{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load aircox_cms %}

{% block content %}
{% if object_list %}
{# list view #}
    <div class="body summary">
    {{ page.summary }}
    <a href="?" class="go_back">{% trans "Go back to the publication" %}</a>
    </div>

    {% with list_paginator=paginator %}
    {% include "cms/snippets/list.html" %}
    {% endwith %}
{% else %}
{# detail view #}
    <div class="content">
        {% if page.cover %}
        {% image page.cover max-600x480 class="cover" height="" width="" %}
        {% endif %}
        <section class="body">
        {{ page.body|richtext}}
        {% block content_extras %}{% endblock %}
        </section>

        <div class="post_content">
        {% render_sections position="post_content" %}
        </div>

        <section class="comments">
        {% include "cms/snippets/comments.html" %}
        </section>
    </div>
{% endif %}
{% endblock %}



